<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <title th:text="${status}">404</title>
</head>

<body>
<div class="wrap">
    <div class="header">
        <div class="logo">
            <h1><a href="#">Ohh</a></h1>
        </div>
    </div>
    <div class="content">
        <img src="/images/error-img.png" title="error"/>
        <p th:text="${error}"><span><label>O</label>hh.....</span>Zadana przez Ciebie strona nie istnieje</p>
        <a href="/">Kliknij by wrocic na strone glowna</a>
    </div>
</div>
</body>
</html>