<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      lang="pl">
<head>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <link th:replace="/fragments/style"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:replace="/fragments/header"></div>
<div class="container">
    <div layout:fragment="content"></div>
    <div th:replace="/fragments/footer"></div>
    <div th:replace="/fragments/js"></div>
    <div layout:fragment="script"></div>
</div>
</body>
</html>