<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Kategorie</title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Dodaj nowa kategorie</h1>
    </div>
    <section class="container">
        <form action="#" th:action="@{/addCategory}" th:object="${categoryCreateForm}" method="post"
              class="form-horizontal" enctype="multipart/form-data" name="createCategoryForm">
            <fieldset>
                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                    <p class="error" th:each="err:${#fields.allErrors()}" th:text="${err}">...</p>
                </div>

                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="name">Podaj nazwe</label>
                        <div class="input">
                            <input id="name" type="text" class="form-control" th:field="*{name}" required="required" placeholder="Podaj nazwe kategorii"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="description">Opis kategorii</label>
                        <div class="input">
                            <textarea id="description" path="description" rows="4" th:field="*{description}" class="form-control" required="required" placeholder="Podaj opis kategorii"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <div class="input">
                            <input type="submit" id="btnAdd" class="btn btn-primary" value="Dodaj"/>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </section>
</div>
</body>
<div layout:fragment="script">
    <script>
        document.getElementById("addCategory").className = 'active';
    </script>
</div>
</html>