<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Produkty</title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Dodaj nowy produkt</h1>
    </div>
    <section class="container">
        <form action="#" th:action="@{/addProduct}" th:object="${productCreateForm}" method="post"
              class="form-horizontal" enctype="multipart/form-data" name="productForm">
            <fieldset>
                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                    <p class="error" th:each="err:${#fields.allErrors()}" th:text="${err}">...</p>
                </div>

                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="name">Podaj nazwe</label>
                        <div class="input">
                            <input id="name" type="text" class="form-control" th:field="*{name}" required="required" placeholder="Podaj nazwe produktu"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="unitPrice">Podaj cene za sztuke</label>
                        <div class="input">
                            <input id="unitPrice" type="text" class="form-control" th:field="*{price}" required="required" placeholder="Podaj cene produktu"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="description">Opis produktu</label>
                        <div class="input">
                            <textarea id="description" path="description" rows="4" th:field="*{description}" class="form-control" required="required" placeholder="Podaj opis produktu"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="imageURL">Adres URL</label>
                        <div class="input">
                            <input id="imageURL" type="text" class="form-control" th:field="*{imageUrl}" placeholder="Podaj adres URL do zdjęcia"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="category">Kategoria produktu</label>
                        <div class="input">
                            <select class="form-control" id="category" name="category" th:field="*{category}">
                                <option th:each="part : ${categoryList}"
                                        th:selected="${part.description}"
                                        th:value="${part.name}"
                                        th:text="${part.description}">Nazwa kategorii
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <div class="input">
                            <input type="submit" id="btnAdd" class="btn btn-primary" value="Dodaj"/>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </section>
</div>
</body>
<div layout:fragment="script">
    <script>
        document.getElementById("addProduct").className = 'active';
    </script>
</div>
</html>