<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Potwierdzenie zamówienia</title>
</head>
<body>
<div layout:fragment="content">
  <div class="jumbotron">
    <h1>
      Rachunek
    </h1>
    <p>
      Potwierdzenie zamówienia
    </p>
  </div>
  <div class="container">
    <div class="row">
      <form th:action="@{/order/confirm}" th:object="${orderDTO}" method="post" class="form-horizontal"
            enctype="multipart/form-data">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
          <div class="text-center">
            <h1>Rachunek</h1>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <address>
                <strong>Adres do wysyłki</strong>
                <br/>
                <span id="street"
                      th:text="''+${orderDTO.shippingDetail.street}+' '+${orderDTO.shippingDetail.houseNum}"></span>
                <br/>
                <span th:id="city"
                      th:text="''+${orderDTO.shippingDetail.postCode}+' '+${orderDTO.shippingDetail.city}"></span>
                <br/>
                <!--<th:block th:text="${orderDTO.shippingDetail.state}"/>-->
                <br/>
              </address>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
              <p>
                <em th:id="date"
                    th:text="'Data wysyłki: '+${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"></em>
              </p>
            </div>
          </div>
          <div class="row">

            <table class="table table-hover">
              <thead>
              <tr>
                <th>Produkt</th>
                <th>#</th>
                <th class="text-center">Cena</th>
                <th class="text-center">Łącznie</th>
              </tr>
              </thead>
              <tbody>
              <span th:each="cartItem:${orderDTO.cartSession.items}">
                                 <tr>
                                     <td class="col-md-6"><em th:text="${cartItem.item.name}"></em></td>
                                     <td class="col-md-1" style="text-align: center" th:text="${cartItem.quantity}">
                                     </td>
                                     <td class="col-md-1 text-center" th:text="${cartItem.item.price}+' PLN'"></td>
                                     <td class="col-md-1 text-center" th:text="${cartItem.price}+' PLN'"></td>
                                 </tr>
                             </span>

              <tr>
                <td> </td>
                <td> </td>
                <td class="text-right"><h4>
                  <strong>Razem: </strong>
                </h4></td>
                <td class="text-center text-danger"><h4>
                  <strong id="totalPrice"
                          th:text="${orderDTO.cartSession.totalPrice}+' PLN'"></strong>
                </h4></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</body>
</html>