<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>Produkty</title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Produkty</h1>
        <p th:text="${productDTO.name}">
        </p>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-md-5">
                <img th:src="${productDTO.imageUrl}" alt="image" style="width:100%"/>
            </div>

            <div class="col-md-5">
                <h3 th:text="${productDTO.name}"></h3>
                <p th:text="${productDTO.description}"></p>

                <!--     <p><strong>Liczba sztuk w magazynie: </strong>
                         <span th:text="${product.unitsInStock}"/>
                     </p> -->
                <h4 th:text="${productDTO.price}+' PLN'"></h4>
                <p>
                    <a th:href="@{/cart/add/{id}(id=${id})}" class="btn btn-warning btn-large">
                        <span class="glyphicon-shopping-cart glyphicon"></span> Zamów teraz </a>

                    <a th:href="@{/cart/}" class="btn btn-default">
                        <span class="glyphicon-hand-right glyphicon"></span> Koszyk
                    </a>

                    <a th:href="@{/products}" class="btn btn-default">
                        <span class="glyphicon-hand-left glyphicon"></span> Wstecz
                    </a>

                </p>

            </div>
        </div>
    </section>
</div>
</body>
</html>