<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="pl" layout:decorator="layout">
<head>
    <title>Użytkownicy</title>
</head>

<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Użytkownicy</h1>
    </div>
    <section class="container">
        <div class="panel-body">
            <div th:if="${activate}" class="alert alert-success" role="alert" th:text="${activateMessage}">Usunieto uzytkownika
            </div>
            <table class="table table-striped table-bordered grid" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Imię i nazwisko</th>
                    <th>Rola</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${Users}">
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.name + ' ' + user.lastName}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <a th:if="!${user.active}" th:href=" ${'/user/active/' + user.id}">Aktywacja
                            <span class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                        <a th:if="${user.active}" th:href=" ${'/user/active/' +user.id}">Dezaktywacja
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- modal -->
        </div>
    </section>
</div> <!-- /container -->
</body>
<script layout:fragment="customScripts">
    document.getElementById("usersTab").className = "active";
</script>
</html>